.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: 0.3s;
    color: var(--primary-color);
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    transition: 0.3s;
    transform: scale(0.5);
    max-width: 60%;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    transition: 0.3s;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.isClosing {
    opacity: 0;

    .content {
        transform: scale(0.5);
    }
}
