.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0751f1;
}
